@import "./css/reset.css";
@import "./css/container.css";
@import "./css/button.css";
@import "./css/fieldset.css";
@import "./css/input.css";

* {
  box-sizing: border-box;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --gray-border: 2px solid #272727;
}